<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <section>
        <form method="post">
            <p>Войдите или зарегистрируйтесь чтобы воспользоваться всем функционалом сайта</p>
                {% csrf_token %}
                {{ form.as_p }}
            <p>
                <button class="login" type="submit">Войти</button>
                или
                <a class="register" href="/register">Зарегистрироваться</a>
            </p>
        </form>
    </section>
</body>
</html>