<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ profile.first_name }} {{ profile.last_name }}</title>
</head>
<body>
    <p>{{ profile.first_name }} {{ profile.last_name }}</p>
    <p>{{ profile.email }}</p>
    <p>Список школ:</p>
    {% for school in schools %}
        <p>{{ school.region }}, {{ school.district }}, {{ school.city }}, {{ school.school }}</p>
    {% endfor %}
    <p>Список доверенных лиц:</p>
    {% for relative in relatives %}
        <ul>
            <li>{{ relative.last_name }}</li>
            <li>{{ relative.first_name }}</li>
            <li>{{ relative.patronymic }}</li>
            <li>{{ relative.phone_number }}</li>
            <li>{{ relative.email }}</li>
            <li>{{ relative.relative_type }}</li>
            <li><a href="../relative/{{ relative.id }}/edit">Редактировать профиль</a></li>
        </ul>
    {% endfor %}
    <a href="../relative/create">Создать доверенное лицо</a>
    <p>Список учеников:</p>
    {% for student in students %}
        <ul>
            <li>{{ student.last_name }}</li>
            <li>{{ student.first_name }}</li>
            <li>{{ student.patronymic }}</li>
            <li>{{ student.phone_number }}</li>
            <li>{{ student.user_class }}</li>
            <li>{{ student.school }}</li>
            <a href="../student/{{ student.id }}/edit">Редактировать профиль</a>
        </ul>
    {% endfor %}
    <a href="../student/create">Регистрация ученика</a>
    <a href="/profile/{{ profile.id }}/edit">Редактировать профиль</a>
    <a href="../profiles">Назад</a>
</body>
</html>