<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Бобразование</title>

    {% load static %}
    <link href="{% static 'img/login_img.png' %}" rel="shortcut icon" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--Bootstrap-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'styles/profile.css' %}"/>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'styles/menu.css' %}"/>
    <title>{{ profile.first_name }} {{ profile.last_name }}</title>
</head>
<body>
<!--    <p>Список школ:</p>-->
<!--    {% for school in schools %}-->
<!--        <p>{{ school.region }}, {{ school.district }}, {{ school.city }}, {{ school.school }}</p>-->
<!--    {% endfor %}-->
<!--    <p>Список доверенных лиц:</p>-->
<!--    {% for relative in relatives %}-->
<!--        <ul>-->
<!--            <li>{{ relative.last_name }}</li>-->
<!--            <li>{{ relative.first_name }}</li>-->
<!--            <li>{{ relative.patronymic }}</li>-->
<!--            <li>{{ relative.phone_number }}</li>-->
<!--            <li>{{ relative.email }}</li>-->
<!--            <li>{{ relative.relative_type }}</li>-->
<!--            <li><a href="../relative/{{ relative.id }}/edit">Редактировать профиль</a></li>-->
<!--        </ul>-->
<!--    {% endfor %}-->
<!--    <a href="../relative/create">Создать доверенное лицо</a>-->
<!--    <p>Список учеников:</p>-->
<!--    {% for student in students %}-->
<!--        <ul>-->
<!--            <li>{{ student.last_name }}</li>-->
<!--            <li>{{ student.first_name }}</li>-->
<!--            <li>{{ student.patronymic }}</li>-->
<!--            <li>{{ student.phone_number }}</li>-->
<!--            <li>{{ student.user_class }}</li>-->
<!--            <li>{{ student.school }}</li>-->
<!--            <a href="../student/{{ student.id }}/edit">Редактировать профиль</a>-->
<!--        </ul>-->
<!--    {% endfor %}-->

    <h1 class="logo">Бобразование</h1>

    <div class="container">

        <h1 class="pageName">Профиль</h1>

        <div class="row data_container">
            <div class="col-lg-6 col-md-12" id="first_block">
                <img src="{% static 'img/photo.png' %}" class="photo">
                <a href=""><button type="button" class="btn btn-secondary" id="edit">Редактировать</button></a>
            </div>
            <div class="col-lg-6 col-sm-12 data" id="second_block">
                <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                <a href="+79996052278">
                    <ion-icon name="call-outline" class="icons"></ion-icon>
                    +79996052278
                </a>
                <br/>
                <a href={{ profile.email }}>
                    <ion-icon name="at-outline" class="icons">

                    </ion-icon> {{ profile.email }}
                </a>
                <br/>
                <a href=""><button type="button" class="btn btn-purple" id="children">Дети</button></a>
                <a href=""><button type="button" class="btn btn-purple" id="parents">Доверенные</button></a>
            </div>
        </div>

    </div>

    <div class="container menu">

        <div class="col-4 menu_elem">
            <a href="#" class="menu_element active">Профиль</a>
            <a href="#" class="menu_element_img active"><ion-icon name="person-circle-outline"></ion-icon></a>
        </div>

        <div class="col-4 menu_elem">
            <a href="../admin" class="menu_element">Панель</a>
            <a href="../admin" class="menu_element_img"><ion-icon name="server-outline"></ion-icon></a>
        </div>

        <div class="col-4 menu_elem">
            <a href="#" class="menu_element">История</a>
            <a href="#" class="menu_element_img"><ion-icon name="list-outline"></ion-icon></a>
        </div>

    </div>

<!--    <a href="../student/create">Регистрация ученика</a>-->
<!--    <a href="/profile/{{ profile.id }}/edit">Редактировать профиль</a>-->
<!--    <a href="../profiles">Назад</a>-->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
