<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h3>Регистрация</h3>
    <form method="post">
        {% csrf_token %}
        <p>Логин: {{ form.username }}</p>
        <p>Пароль: {{ form.password1 }}</p>
        <p>Подтвердите пароль: {{ form.password2 }}</p>
        <p>Номер телефона: {{ form.phone_number }}</p>
        <p>Электронная почта: {{ form.email }}</p>
        <p>Город: {{ form.city }}</p>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>