body{
	font-family: 'Montserrat', sans-serif;
}

.container{
	width: 60%;
}

.menu{
	position: fixed;
	bottom: 30px;
	background: #F69400;
	right: 20%;
	padding: 10px;
	border-radius: 45px;
}

.menu_element, .menu_element_img{
	color: white;
	border-radius: 45px;
	padding: 5px 30px 5px 30px;
}

.menu_element_img{
	display: none;
}

.active{
	background: #fff;
	color: black;
}

.col-4{
	display: inline-block;
	width: 32.6%;
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 700px){
	.menu_element{
		display: none;
	}

	.menu_element_img{
		display: inline-block;
		height: 30px;
		vertical-align: middle;
	}

	.col-4{
		width: 32%;
	}
}

@media screen and (max-width: 450px){
	.col-4{
		width: 31%;
	}

	.menu_element_img{
		padding: 3px 15px 3px 15px;
		height: 27px;
		vertical-align: middle;
	}
}
