body{
	padding: 10px;
	background: #553570;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

a{
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

.form{
	padding: 40px 20px 20px 20px;
	margin: 140px auto;
	background: #F69400;
	color: #fff;
	border-radius: 45px;
}

.container{
	margin: auto;
	width: 350px;
	margin-top: 30px;
}

input{
	width: 50%;
}

.instruct{
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

.upload{
	border-radius: 0;
}

.login_label{
	background: #fff; 
	width: 100%;
}

.container-fluid{
	background: #F69400;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

h2{
	position: absolute;
	text-align: center;
	background: #fff;
	top:  180px;
	width: 326px;
	border-radius: 45px 45px 0px 0px;
	padding: 20px 0 20px 0;
}

h1{
	color: #F69400;
	position: relative;
	top: 50px;
	text-align: center;
}

.reg{
	text-align: center;
}

img{
	position: absolute;
	bottom: 7%	
}

.login_img1{
	left: 10%;
	width: 20%;
}

.login_img2{
	right: 10%;
	width: 20%;
}

.button{
	text-align: center;
}

.btn{
	width: 90%;
	margin-bottom: 10px;
	font-size: 20px;
	border-radius: 45px;
}

.mb-3{
	width: 90%;
	margin: auto;
}

::placeholder {
	font-size: 13px;
}

.name{
	margin-top: 30px;
}

@media screen and (max-width: 600px){
	.container-fluid, .login_img1, .login_img2{
		display: none;
	}

/* 	.login_img2{
		left: 10%;
		margin: auto;
		width: 30%;
		bottom: 3%	
	} */
}

@media screen and (max-width: 390px){
	.container{
		width: 300px;
	}

	h2{
		width: 276px;
	}
}
