body{
	background: #F6F5F3;
}

.photo{
	width: 50%;
	display: block;
	margin: auto;
}

.data_container{
	background: #fff;
	box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.13);
	border-radius: 20px;
	margin-top: 30px;
	padding: 10px;
	height: 300px;
}

.data{
	margin-top: 30px;
	font-size: 20px;
}

.btn{
	text-align: center;
	border-radius: 45px;
	margin-top: 20px;
	display: block;
	margin: auto;
}

.btn-purple{
	display: inline-block;
	background: #553570;
	color: white;
	margin-top: 20px;
}

.btn-purple:hover{
	color: white;
}

@media screen and (max-width: 1000px){
	.data_container{
		height: 420px;
	}
	.photo{
		width: 140px;
	}
	.data{
		text-align: center;
	}
}

@media screen and (max-width: 500px){
	.data{
		font-size: 16px;
	}
	.photo{
		width: 120px;
	}
}
